ROOT=NebulaRoot
BASE_URL=http://minjunkim0205.iptime.org:9090/
JAVA_EXECUTABLE=java

# Required only when using:
# npm.cmd run start -- generate distro --installLocal
# HELIOS_DATA_FOLDER=C:\Users\YourName\AppData\Roaming\YourLauncher
